body {
    background-image: url(img/weather-desktop-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: cover; */
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .15rem;
    background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
    height: 3rem;
}

.navbar-nav li {
    padding: .4rem;
}

.navbar-nav .nav-link {
    color: #fff;
}

.main-headline {
    width: 100%;
    max-width: 100%;
    margin-top: 14%;
    color: #fff;
}

.main-headline h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-shadow: .2rem .2rem .7rem black;
    padding-bottom: 1rem;
}

.main-headline h3 {
    font-size: 2rem;
    letter-spacing: .2rem;
    text-shadow: .2rem .2rem .4rem black;
    padding-bottom: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.weather-info {
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: .2rem .2rem .4rem black;
    padding-bottom: 1.5rem;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.location {
    padding: 2% 5%;
}

.weather-state {
    display: flex;
    flex-wrap: nowrap;
    justify-content: baseline;
}

.temperature-description {
    font-size: 1.4rem;
}

.find-place-form {
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.find-place-form-input {
    background-color: rgba(0, 0, 0, 0.5);
    /* width: 25rem; */
}

#forecast {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5%;
}

.table-color {
    border-color: rgba(116, 106, 106, 0.8);
    background-color: silver;
}

nav i.animated {
    font-size: 35px;
    padding-left: 45vw;
    /* animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

/* @keyframes spin {
    100% {
        transform: rotate(360deg);
    }
} */

h1.uppercase {
    position: relative;
    animation: welcome;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes welcome {
    0% {
        top: -250px;
    }

    100% {
        top: 0;
    }
}

div h3 {
    position: relative;
    animation-name: press;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes press {
    0% {
        left: -1000px;
    }

    100% {
        left: 0;
    }
}

#local-weather-btn {
    margin-top: 5%;
    opacity: 0;
    animation-name: button1;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes button1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




/* #map {
    height: 400px;
    The height is 400 pixels
    width: 100%;
} */
/* The height is 400 pixels */