body {
    background-image: url(img/weather-desktop-2.jpg);
    font-family: sans-serif;
    color: #ffffff;
/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .15rem;
    background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img {
    height: 3rem;
}

.navbar-nav li {
    padding: .4rem;
}

.navbar-nav .nav-link {
    color: #fff;
}

.main-headline {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    color: #fff;
}

.main-headline h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-shadow: .2rem .2rem .7rem black;
    padding-bottom: 1rem;
}

.main-headline h3 {
    font-size: 2rem;
    letter-spacing: .2rem;
    text-shadow: .2rem .2rem .4rem black;
    padding-bottom: 1.5rem;

}

.uppercase {
    text-transform: uppercase;
}

.weather-info {
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: .2rem .2rem .4rem black;
    padding-bottom: 1.5rem;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.location {
    padding: 2%;
}

.temperature-description {
    font-size: 1.4rem;
}

/* #map {
    height: 400px;

    The height is 400 pixels
    width: 100%;
} */
    /* The height is 400 pixels */
    width: 100%;
}

div.search {
    padding: 45px 0;
    max-width: 1024px;
}

div.search form {
    display: flex;
    flex-direction: column;
}

.search input,
.search button {
    width: 400px;
    height: 50px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
}

.search button {
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
    transition: 0.2s;
    padding-top: 7px;
    padding-bottom: 7px;
}

.search button:hover {
    background-color: rgb(153, 153, 153);
    color: white;
}
