body {
    background-image: url(img/weather-desktop-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: cover; */
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .15rem;
    background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
    height: 3rem;
}

.navbar-nav li {
    padding: .4rem;
}

.navbar-nav .nav-link {
    color: #fff;
}

.main-headline {
    width: 100%;
    max-width: 100%;
    margin-top: 14%;
    color: #fff;
}

.main-headline h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .4rem;
    text-shadow: .2rem .2rem .7rem black;
    padding-bottom: 1rem;
}

.main-headline h3 {
    font-size: 2rem;
    letter-spacing: .2rem;
    text-shadow: .2rem .2rem .4rem black;
    padding-bottom: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.weather-info {
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: .2rem .2rem .4rem black;
    padding-bottom: 1.5rem;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.location {
    padding: 2% 5%;
}

.weather-state {
    display: flex;
    flex-wrap: nowrap;
    justify-content: baseline;
}

.temperature-description {
    font-size: 1.4rem;
}

.find-place-form {
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.find-place-form-input {
    background-color: rgba(0, 0, 0, 0.5);
    /* width: 25rem; */
}

#forecast {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5%;
}

.time-info {
    margin-left: 10px;
}

.table-color {
    border-color: rgba(116, 106, 106, 0.8);
    background-color: silver;
}

nav i.animated {
    font-size: 35px;
    padding-left: 45vw;
    /* animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

/* @keyframes spin {
    100% {
        transform: rotate(360deg);
    }
} */

h1.uppercase {
    position: relative;
    animation: welcome;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes welcome {
    0% {
        top: -250px;
    }

    100% {
        top: 0;
    }
}

div h3 {
    position: relative;
    animation-name: press;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes press {
    0% {
        left: -1000px;
    }

    100% {
        left: 0;
    }
}

#local-weather-btn {
    margin-top: 2%;
    opacity: 0;
    animation-name: button1;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-size: 24px;
    text-shadow: 3px 3px 7px black;
}

@keyframes button1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.content-header {
    width: 100%;
}

#search-place-weather-btn {
    text-shadow: 3px 3px 7px black;
    margin-top: 10px;
    font-size: 19px;
}

.content-header-text {
    padding: 0.2em 2em 0.2em;
    /* text-indent: 0em; */
    font-weight: 700;
    font-size: 1.7rem;
}

#local-weather-btn:hover,
#search-place-weather-btn:hover {
    text-shadow: none;
}

.content-info {
    width: 94%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    display: flex;

}

.content-info-left {
    min-width: 33.33%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.contact-form {
    min-width: 20em;
    margin: 1em auto;
}

.contact-form form {
    text-align: center;
}

input {
    width: 18em;
    margin: 0.5em 0;
}

textarea {
    width: 18em;
    min-height: 9em;
    margin: 0.5em 0;
}

#contact {
    background-color: rgba(116, 106, 106, 0.6);
    padding: 1em;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#contactform {
    background-color: rgba(100, 106, 106, 0.6);
    padding: 1em;
    margin: 0;
    /* margin-left: auto;
    margin-right: auto; */
    width: 20em;
}

fieldset {
    border: medium none !important;
    margin: 0.5em 0;
    width: 15em;
    padding: 0.5;
    text-align: center;
}

.content-info-right-contact {
    margin: 0 auto;
}

#contact button {
    cursor: pointer;
    width: 16.4em;
    border: solid;
    background: var(--welcome-text-color);
    color: rgba(16, 6, 6, 0.6);
    margin: 0.5em 0;
    padding: 0.1em;
    font-size: 1.1em;
}

#contact button:hover {
    background: var(--button-darker-end-color);
    transition: background-color 0.4s ease-in-out;
}

footer {
    margin: 0 auto;
    background-color: rgba(116, 106, 106, 0.6);
    text-align: center;
    padding: 2em;
}

iframe {
    width: 560px;
    height: 405px;
    border: 0;
    margin: 1em;
}


@media (max-width: 767px) {
    body {
        background-image: url(img/weather-desktop-small.png);
    }
}


/* #map {
    height: 400px;
    The height is 400 pixels
    width: 100%;
} */
/* The height is 400 pixels */